
header{
    position: static;
    display: flex;
    justify-content: space-between;
    background-color: #079992;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav.cabecalho{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    
}

a::before{
    content: "";
    background-color: #082162;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.nova{
    position: absolute;
    width: 170px;
    height: 60px;
    left: 181px;
    top: 418px;
    text-align: center;
    font-size: 20px;
}

.nova2{
    position: absolute;
    width: 170px;
    height: 60px;
    left: 463px;
    top: 418px;
    text-align: center;
    font-size: 20px;
}

.imagem-fundo{
    background-image: url(../Imagens/thumb-1920-548279\ 1.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    border-bottom: 10px solid #000;
}
