
header{
    display: flex;
    justify-content: space-between;
    background-color: #079992;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}
h1{
    font-size: 30px;
    color:#FFF;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 5px 5px 0px #000;
}
nav.cabecalho{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    
}
a::before{
    content: "";
    background-color: #082162;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}



section.fundo{
    display: block;
    background-color: gray;
    position: absolute;
    width: 617px;
    height: 184px;
    left: 96px;
    top: 184px;
    filter: drop-shadow(10px 10px 0px #000);
    margin: 1px;
}
h2.nome{
    position: absolute;
    width: 330px;
    height: 62px;
    left: 160px;
    top: 38px;
    color: #0B1AA9;
    font-family: "Press Start 2P";
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-shadow: 4px 4px 0px #000;
    margin: 0px;
    
}
h3.front{
    position: absolute;
    width: 575px;
    height: 30px;
    left: 30px;
    top: 120px;

    font-family: "Press Start 2P";
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    color: #FFF;
    text-shadow:  4px 4px 0px #000;
    margin: 0px;
}

.nova{
    position: absolute;
    width: 170px;
    height: 60px;
    left: 181px;
    top: 418px;
    text-align: center;
    font-size: 20px;
}
.nova2{
    position: absolute;
    width: 170px;
    height: 60px;
    left: 463px;
    top: 418px;
    text-align: center;
    font-size: 20px;
}
