.button{
    display: inline-block;
    background-color: #0c2461;
    line-height: 60px;
    padding: 8px 10px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0px;
    position: relative;
    cursor: pointer;
    transition: transform 150ms linear, background .3s ease-in-out;

}
.button:hover{
    transform: scale(1.08);
    background-color: #253ea5;

}
.button:active{
    background-color: #0c293d;
}
