@media screen and (max-width: 480px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .main-header h1{
        margin: auto;
        margin-left: 0;
    }
    .main-header .main-button{
        display: none;
    }
    .main-header nav{
        width: 75%;
        padding-left: 0.8em;
    }
    
    .main-header .main-action{
        width: 40%;
        font-size: 0.8em;
        padding: 0.4em;
        margin: auto;
        margin-right: 1em;
    }

/*Banner*/

    .main-banner{
        background-image: url(../Imagens/background-mobile.jpg);
        background-size: auto;
        height: 80vh;
    }

    .main-banner .wrapper{
        width: 90%;
        height: auto;
        padding: 0;
        padding-top: 1em;
        margin-inline: auto;
    }
    .wrapper .main-box{
        padding: 0;
    }
    .main-box .main-title {
        margin-top: 0.25em;
        margin-bottom: 0.80em;
        padding: 0;
} 
    .main-box .main-subtitle{
        line-height: 1.3;
        margin-bottom: 0.50em;
    }

/*MAIN SECTION*/
.main-section{
    height: auto;
}
.wrapper-skill .skill-tec{
    display: block;
    text-align: center;
    margin: auto;
    padding: 0.5em;
}
.skill-tec .icon{
    margin: 0;
}
.wrapper-skill .icon{
    width: 28%;
    margin-left: 0;
    margin-bottom: 0.5em;
}
.wrapper-skill .skill-tec:nth-child(odd){
    margin-right: 0;
}

/*MAIN SECTION PROJECT*/
    .main-section.-bgBlack{
        position: relative;
        height: auto;
        overflow: hidden;
        
    }


    .card-project .logo{
        width: 6.5em;
        
    }

    /*MAIN SECTION ABOUT*/
    .main-section.-bgVerde{
        height: auto;
    }
    .main-description{
        font-size: 1.5em;
        margin: 0.6em;
    }

    /*MAIN SECTION CONTACT*/
    .main-section.-bgGrey{
        height: auto;
    }
    
}