.main-section{
    background-color: #202C59;
    height: 670px;
    border-bottom: 10px solid #7C5E99;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgBlack{
    background-color: black;
    height: 520px;
    border-color:  #F25A70;
}

.main-section.-bgVerde{
    height: 783px;
    background-color: #0e6965;
    border-color: #000;
}