h1{
    font-size: 1.875rem;
    color:#FFF;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 5px 5px 0 #000;
}

.main-title{
    font-family: "Press Start 2P", sans-serif;
    font-size: 2.187rem;
    color: #0B1AA9;
    text-shadow: 4px 4px 0px #000;
    padding-bottom: 2.06rem;
}

.main-title.-second{
    color: #FFF;
    text-shadow: none;
    text-align: center;
}

    