.main-banner {
    box-sizing: border-box;
    background-image: url(../../Imagens/Banner.png);
    background-repeat: no-repeat;
    height: 90vh;
    border-bottom: 10px solid #000;

}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 42.6875rem;
    padding-top: 7.18rem;
    padding-left: 5.625rem;
}

.main-banner .main-box {
    margin-bottom: 2.5rem;

}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}


@media screen and (max-width: 840px) {

    .main-banner .wrapper {
        width: auto;
        padding: 6rem 1rem;
    }
}

@media screen and (max-width: 480px) {

    .main-banner {
        background-image: url(../../Imagens/background-mobile.jpg);
        background-size: auto;
        height: 80vh;
    }

    .main-banner .wrapper {
        width: 90%;
        height: auto;
        padding: 0;
        padding-top: 1em;
        margin-inline: auto;
    }

    .wrapper .main-box{
        padding: 0;
    }
}