.main-section {
    background-color: #202C59;
    height: auto;
    border-bottom: 10px solid #7C5E99;
    padding-top: 3.125rem;
    padding-bottom: 6.25rem;
}

.main-section .main-title {
    margin-bottom: 3.75rem;
}

.main-section.-bgBlack {
    background-color: black;
    height: auto;
    border-color: #F25A70;
}

.main-section.-bgVerde {
    background-color: #0e6965;
    border-color: #000;
}

.main-section.-bgGrey {
    background-color: #636363;
}

.main-section.-rodape {
    background-color: #000;
    border: none;
    padding: 0;
}


@media screen and (max-width: 480px) {

    .main-section {
        height: auto;
    }

    .main-section.-bgBlack {
        position: relative;
        height: auto;
        overflow: hidden;

    }

   
}