.main-description {
    font-weight: 300;
    font-size: 1.875rem;
    color: #FFF;
    margin-left: 5.625rem;
    margin-right: 5.625rem;
    line-height: 1.3;
}

@media screen and (max-width: 480px) {

    .main-description {
        font-size: 1.5em;
        margin: 0.6em;
    }

}