.main-box {
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 10px 10px 0px #000;
    text-align: center;
    padding: 2.625rem 2.75rem;
}

.main-box .main-title {
    margin-bottom: 1.75rem;
}


@media screen and (max-width: 840px) {

    .main-box {
        padding: 1rem 0.2rem;
    }

    .main-box .main-title {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {


    .main-box .main-title {
        margin-top: 0.25em;
        margin-bottom: 0.80em;
        padding: 0;
    }

    .main-box .main-subtitle {
        line-height: 1.3;
        margin-bottom: 0.50em;
    }
}