.main-action{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    margin-right: 1.875rem;
    
}

.main-action::before{
    content: "";
    background-color: #082162;
    width: 0.625rem;
    height: 0.625rem;
    margin-right: 0.625rem;
}