.form-body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding-right: 16px;
    padding-left: 16px;

}

.form{
    width: 100%;
    max-width: 512px;
    font-size: 18px;
}

.form label,
.form input,
.form textarea{
    display: block;
    width: 100%;
    font-family: "Fira Code", sans-serif;
}

.form label{
    color: #fff;
    line-height: 1;
    margin-bottom: 8px;
}

.form input,
.form textarea{
    font: inherit;
    padding: 12px;
    margin-bottom: 16px;
    border: 5px solid #000;
}

.form textarea{
    min-height: 208px;
    resize: vertical;
}
.main-button.-form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 546px;
    height: 15px;
    color: #fff;
    cursor: pointer;
}
