.progress-bar {
    background-color: #FFF;
    height: 2.5rem;
    border: 5px solid #000;
    box-sizing: border-box;
}

.progress-bar::-webkit-progress-bar {
    background-color: #FFF
}

.progress-bar::-moz-progress-bar {
    background-color: #7C5E99;
    transition: background-color 200ms ease-in-out;
}

.progress-bar::-webkit-progress-value {
    background-color: #7C5E99;
    transition: background-color 200ms ease-in-out;
}