.skill-tec{
    display: flex;
    align-items: center;
    font-family: "Press Start 2p", sans-serif;
    font-size: 1.5625rem;
    color: #fff;
    
}
.skill-tec .icon{
    margin-right: 1.5625rem;
    width: 5.625rem;
}

.skill-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tec .title{
    margin-bottom: 0.625rem;
}