.skill-tec{
    display: flex;
    font-family: "Press Start 2p", sans-serif;
    font-size: 25px;
    color: #fff;
    
}
.skill-tec .icon{
    margin-right: 25px;
}

.skill-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}