.subtittle{
    font-size: 25px;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 3px 3px 0px #000;
    color: #FFF;
}
.itens{
    font-size: 25px;
    font-family: "Press Start 2P", sans-serif;
    color: #FFF;
}

.itens{
    font-size: 25px;
}