h1{
    font-size: 30px;
    color:#FFF;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 5px 5px 0px #000;
}


h1.tittle1{
    position: absolute;
    width: 330px;
    height: 62px;
    left: 160px;
    top: 38px;
    color: #0B1AA9;
    font-size: 40px;
    line-height: 40px;
    text-shadow: 4px 4px 0px #000;
    margin: 0px;
    
}

h2.tittle2{
    position: absolute;
    width: 575px;
    height: 30px;
    left: 30px;
    top: 120px;
    font-family: "Press Start 2P";
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    color: #FFF;
    text-shadow:  4px 4px 0px #000;
    margin: 0px;
}
