h1{
    font-size: 30px;
    color:#FFF;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 5px 5px 0 #000;
}


h1.tittle1{
    font-family: "Press Start 2P", sans-serif;
    font-size: 35px;
    color: #0B1AA9;
    text-shadow: 4px 4px 0px #000;
}

h2{
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color: #FFF;
    text-shadow: 3px 3px 0px #000;
}



    