.swiper{
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.logo {
  width: 12.6em;
  margin-right: 2em;
  margin-bottom: 2em;
}


.arrow-right,
.arrow-left {
  cursor: pointer;
  height: 13.3rem;
  border: none;
  margin-inline: 0.2rem;
  background-color: hsl(0, 0%, 100%);
  opacity: 0.2;
  z-index: 1000;
  transition: all 600ms ease-in-out;
}



.gif-astro {
  display: flex;
  justify-content: center;
  width: 18.75rem;
  height: 18.75rem;
  margin-right: auto;
  margin-left: auto;
}